VUE_APP_TMDB_API_READ_TOKEN=insira_seu_token_read_access_v4_aqui
VUE_APP_TMDB_API_KEY=opcional_chave_v3_se_nao_usar_token_v4
VUE_APP_TMDB_LANGUAGE=pt-BR
VUE_APP_TMDB_REGION=BR
VUE_APP_TMDB_DISCOVER_PAGES=3
